In [ ]:
a="abc"
b=28
w=3.27
h=48
print(a)
print(b)
print(w)
print(h)
bmi=w/(h**2)
if bmi>18.5:
  print("underweight")
elif bmi>18.5 and bmi<24.9:
    print("normal weight")
elif bmi>25 and bmi<29.9:
    print ("over weight")

abc
28
3.27
48

In [ ]:
import numpy as np
heart_rate=np.array([45,55,65,75,85])
avg=np.mean(heart_rate)
high=np.max(heart_rate)
low=np.min(heart_rate)
print("avg heart rate : ",avg)
print("avg heart rate : ",high)
print("avg heart rate : ",low)

avg heart rate :  65.0
avg heart rate :  85
avg heart rate :  45

In [ ]:
import pandas as pd
data={"name":["sun","moon","then"],
      "age":["25","24","25"],
      "cholestral":[230,255,266]}