In [ ]:
import pandas as pd
import numpy as np
data={"name":["a","b",np.nan],
      "age":["25",np.nan,"12"],
      "cholestrol":[210,np.nan,230],
      "BMI":[21,45,np.nan]}
df=pd.DataFrame(data)
print(df.isnull().sum())

name          1
age           1
cholestrol    1
BMI           1
dtype: int64

In [ ]:
df_cleaned = df.dropna()
print(df_cleaned)

  name age  cholestrol   BMI
0    a  25       210.0  21.0

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
  'marks': [20, 30, 20, 40, np.nan, 50, np.nan,
            50, 20, 10, np.nan, 30 ],

  'age': [20, 20, np.nan, 30, 90, np.nan,
          80, 40, 50, 40, 70, 30],

})

df['marks'].fillna(int(df['marks'].mean()),inplace=True)
print(df)

    marks   age
0    20.0  20.0
1    30.0  20.0
2    20.0   NaN
3    40.0  30.0
4    30.0  90.0
5    50.0   NaN
6    30.0  80.0
7    50.0  40.0
8    20.0  50.0
9    10.0  40.0
10   30.0  70.0
11   30.0  30.0

<ipython-input-12-6b348acee7fc>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['marks'].fillna(int(df['marks'].mean()),inplace=True)

In [ ]:
df['marks'] = df['marks'].fillna(df['marks'].mode()[0])
print(df)

    marks   age
0    20.0  20.0
1    30.0  20.0
2    20.0   NaN
3    40.0  30.0
4    30.0  90.0
5    50.0   NaN
6    30.0  80.0
7    50.0  40.0
8    20.0  50.0
9    10.0  40.0
10   30.0  70.0
11   30.0  30.0

In [ ]:
df.ffill(inplace=True)
df.bfill(inplace=True)
df.drop_duplicates(inplace=True)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df_scaled=df.copy()
df_scaled[["marks","age"]]=scaler.fit_transform(df[["marks","age"]])
print(df_scaled)

       marks       age
0  -0.866025 -1.139941
1   0.000000 -1.139941
2  -0.866025       NaN
3   0.866025 -0.717741
4   0.000000  1.815461
5   1.732051       NaN
6   0.000000  1.393261
7   1.732051 -0.295540
8  -0.866025  0.126660
9  -1.732051 -0.295540
10  0.000000  0.971061
11  0.000000 -0.717741

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled[["marks" , "age"]]
scaler.fit_transform(df[["marks" , "age"]])
print(df_scaled)

       marks       age
0  -0.866025 -1.139941
1   0.000000 -1.139941
2  -0.866025       NaN
3   0.866025 -0.717741
4   0.000000  1.815461
5   1.732051       NaN
6   0.000000  1.393261
7   1.732051 -0.295540
8  -0.866025  0.126660
9  -1.732051 -0.295540
10  0.000000  0.971061
11  0.000000 -0.717741

In [ ]:
df_encoded = pd.get_dummies(df, columns=["marks"],drop_first=True)
print(df_encoded)

     age  marks_20.0  marks_30.0  marks_40.0  marks_50.0
0   20.0        True       False       False       False
1   20.0       False        True       False       False
2    NaN        True       False       False       False
3   30.0       False       False        True       False
4   90.0       False        True       False       False
5    NaN       False       False       False        True
6   80.0       False        True       False       False
7   40.0       False       False       False        True
8   50.0        True       False       False       False
9   40.0       False       False       False       False
10  70.0       False        True       False       False
11  30.0       False        True       False       False

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["marks"] = encoder.fit_transform(df["marks"])
print(df)

    marks   age
0       1  20.0
1       2  20.0
2       1   NaN
3       3  30.0
4       2  90.0
5       4   NaN
6       2  80.0
7       4  40.0
8       1  50.0
9       0  40.0
10      2  70.0
11      2  30.0

In [ ]:
import pandas as pd
def performance_category(marks):
  if marks >= 85:
    return "High"
  elif marks >= 70:
    return "Medium"
  else:
    return "Low"
data = {'marks': [88, 72, 60, 95]}
df = pd.DataFrame(data)
df["performance"] = df["marks"].apply(performance_category)
print(df)

   marks performance
0     88        High
1     72      Medium
2     60         Low
3     95        High

In [ ]:
df["marks_Group"] = pd.cut(df["marks"], bins=[18, 21, 24],labels=["high" , "medium"])
print(df)

   marks performance marks_Group
0     88        High         NaN
1     72      Medium         NaN
2     60         Low         NaN
3     95        High         NaN