In [ ]:
print("hello, excited to start data scinence.")

hello, excited to start data scinence.

In [ ]:
customer_name = "priya"
customer_age =  39
customer_balance = 2000
print("customer:",customer_name)
print("age", customer_age)
print("balance:", customer_balance)

customer: priya
age 39
balance: 2000

In [ ]:
product_price = 300
discount = product_price * 0.23 # 10% discount
final_price = product_price - discount
print("final price after discount:", final_price)

final price after discount: 231.0

In [ ]:
import numpy as np
sales = np.array ([150, 200, 250, 300, 400, 350, 500])
print("sales data:",sales)

sales data: [150 200 250 300 400 350 500]

In [ ]:
def sales_stats(sales):
  if not isinstance(sales, list) or not all (isinstance(s,(int,float ))for s in sales):
    return{"mean": none,"max":none,"min":none}
    return
    {
        "mean": sum(sales) / len(sales),
        "max": max(sales),
        "min":min(sales),
    }

In [ ]:
import pandas as pd
data ={
    "customer": ["kani", "rose" , "sun"],
    "age": [25, 30, 35],
    "amount spent": [120, 200, 150]
}
df = pd.DataFrame(data)
print(df)

  customer  age  amount spent
0     kani   25           120
1     rose   30           200
2      sun   35           150

In [ ]:
import pandas as pd
def read_csv(file):
  try:
     return pd.read_csv(file)
  except:
     return None
df = read_csv("sales.csv")
if df is not None:
   print(df)

In [ ]:
high_spenders = df[df["amount spent"]> 150]
print(high_spenders)

NameError: name 'df' is not defined